<h2 md-dialog-title>Chỉnh sửa thông tin tài xế</h2>
<hr>
<md-dialog-content>
  <div class="col-md-12">
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input type="text" value="{{driverObject.name}}" name="name" mdInput placeholder="Tên hiển thị">
      </md-input-container>
      <md-input-container color="accent">
        <input type="email" value="{{driverObject.Email}}" mdInput placeholder="Email">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input type="text" value="{{driverObject.firstName}}" mdInput placeholder="Họ">
      </md-input-container>
      <md-input-container color="accent">
        <input type="text" value="{{driverObject.lastName}}" mdInput placeholder="Tên đệm">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input type="number" value="{{driverObject.age}}" mdInput placeholder="Tuổi">
      </md-input-container>
      <md-input-container color="accent">
        <input mdInput value="{{driverObject.dob}}" type="date" placeholder="Ngày sinh">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input mdInput value="{{driverObject.carName}}" placeholder="Tên xe">
      </md-input-container>
      <md-input-container color="accent">
        <input mdInput value="{{driverObject.licensePlace}}" placeholder="Biển số">
      </md-input-container>
    </div>
  </div>
</md-dialog-content>
<md-dialog-actions class="float-right">
  <div class="row">
    <div class="col-md-6">
      <button color="primary" md-raised-button (click)=editDriver()><md-icon  md-font-set="material-icons">done</md-icon> <strong>Chỉnh sửa</strong></button>
    </div>
    <div class="col-md-6">
      <button md-raised-button (click)="close()"><md-icon  md-font-set="material-icons">close</md-icon><strong> Hủy bỏ</strong></button>
    </div>
  </div>
</md-dialog-actions>