<h2 md-dialog-title>Chỉnh sửa thông tin tài xế</h2>
<hr>
<div md-dialog-content>
  <div class="col-md-12">
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input type="text" name="name" mdInput placeholder="Họ tên">
      </md-input-container>
      <md-input-container color="accent">
        <input type="number" mdInput placeholder="Tuổi">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input mdInput placeholder="Tên xe">
      </md-input-container>
      <md-input-container color="accent">
        <input mdInput placeholder="Biển số">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input mdInput placeholder="Email">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input mdInput type="date" placeholder="Ngày sinh">
      </md-input-container>
    </div>
  </div>
</div>
<div class="row align-items-center" md-dialog-actions>
  <button color="primary" md-raised-button (click)=addDriver()><md-icon  md-font-set="material-icons">done</md-icon> <strong>Lưu</strong></button>
  <button md-raised-button (click)="close()"><md-icon  md-font-set="material-icons">close</md-icon><strong> Hủy bỏ</strong></button>
</div>
<hr>