
/*@media(min-width:1200){*/
  .sebm-google-map-container {
    height: 350px;
    width: 680px;
  }
/*}*/

@media(min-width:1367){
  .sebm-google-map-container {
    height: 550px;
  }
}

.example-card{
  width: auto;
  height: 30%;
}
