<h2><strong>Theo dõi lộ trình</strong></h2>
<hr>
<md-select color="accent" placeholder="Danh sách tài xế">
  <md-option *ngFor="let driver of drivers|async" [value]="driver.name">{{ driver.name }}</md-option>
</md-select>
<md-card-content>
  <sebm-google-map [latitude]="currentLat" [longitude]="currentLng" [zoom]="15">
    <sebm-google-map-polyline [strokeWeight]="'10'" [strokeColor]="'#B71C1C'">
      <sebm-google-map-polyline-point *ngFor="let geolocationCurrent of geolocationCurrents|async" [latitude]="geolocationCurrent.lat"
        [longitude]="geolocationCurrent.lng">
      </sebm-google-map-polyline-point>
    </sebm-google-map-polyline>
  </sebm-google-map>
</md-card-content>