<md-toolbar color="accent">
  <button md-icon-button (click)="randomName(start)">
      <md-icon md-font-set="material-icons">menu</md-icon>
    </button> Giám sát hành trình
  <button md-icon-button>
      <md-icon md-font-set="material-icons">more_vert</md-icon>
    </button>
</md-toolbar>
<md-sidenav-container class="side-nav-container">
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item><span><md-icon>directions</md-icon>&emsp;&emsp;<strong>Location Tracking</strong></span></a>
      <hr/>
      <a md-list-item [routerLink]="['maps']">
        <span><md-icon>track_changes</md-icon>&emsp;&emsp;Giám sát</span>
      </a>
      <a md-list-item [routerLink]="['driver']">
        <span><md-icon>directions_car</md-icon>&emsp;&emsp;Tài xế</span>
      </a>
      <a md-list-item [routerLink]="['about']">
        <span><md-icon>help</md-icon>&emsp;&emsp;About</span>
      </a>
      <hr/>
      <a md-list-item (click)="start.close()"><span><md-icon>close</md-icon>&emsp;&emsp;Close</span></a>
    </md-nav-list>
    <hr>
  </md-sidenav>
  <md-card class="router-card">
    <router-outlet></router-outlet>
  </md-card>

</md-sidenav-container>