.content-chat{
  border: 1px solid #cccccc;
  height: 350px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-list{
 
}

#avatar {
    background-image: url('http://gdurl.com/1jHQ');
    width: 55px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.input-area{
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px 0px 10px 30px;
}

.example-full-width {
  width: 80%;
}
