<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <md-list style="border: 1px solid #CCCCCC; border-radius: 5px;" md-scroll-y>
                    <h4 align="center" md-header><strong>Tin nhắn</strong></h4>
                    <md-divider></md-divider>
                    <md-nav-list style="overflow-y: scroll; overflow-x: hidden;">
                        <md-list-item (click)=changeDriver(driver) *ngFor="let driver of driverList">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div id="avatar"></div>
                                    </div>
                                    <div class="col-md-7">
                                        <h6 md-line><strong>{{driver.name}}</strong></h6>
                                        <p md-line> {{driver.lastestMessage}} </p>
                                    </div>
                                    <div class="col-md-2">
                                        <span style="color:#00E676" *ngIf="driver.status">&nbsp;&nbsp;<i class="material-icons">done</i></span>
                                        <span style="color:#FF1744" *ngIf="!driver.status">&nbsp;&nbsp;<i class="material-icons">highlight_off</i></span>
                                    </div>
                                </div>
                            </div>
                        </md-list-item>
                    </md-nav-list>
                    <md-divider></md-divider>
                </md-list>
            </div>
        </div>
        <div class="col-md-8">
            <h4 [(ngModel)]="driverNameCurrent">{{driverNameCurrent}}</h4>
            <div class="content-chat">
                <app-messagebubble [data]="messages"></app-messagebubble>
            </div>
            <div class="input-area">
                <md-input-container class="example-full-width">
                    <input (keyup.enter)="onEnter()" placeholder="Nhập tin nhắn.." [(ngModel)]="messageValue" [ngModelOptions]="{standalone:true}"
                        mdInput>
                </md-input-container>
                <button (click)=sendTest() md-mini-fab>
                    <i class="material-icons">&#xE163;</i>
                </button>
            </div>
        </div>
    </div>