.content-chat{
  border: 1px solid #cccccc;
  height: 350px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-list{
 
}

#avatar {
    background-image: url('https://doc-08-3c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/15q0v8984mis6dtl4dpffe0dis9tga19/1497931200000/12306595804008330346/*/0B5EtT4HuKnf9NlVfd21ZN3dxdU0');
    width: 55px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.input-area{
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px 0px 10px 30px;
}

.example-full-width {
  width: 80%;
}
