<md-card class="example-card">
    <md-card-header>
      <h2>Lộ trình</h2>
    </md-card-header>
    <md-card-content>
      <md-select placeholder="Danh sách xe">
        <md-option>Tài xế 1</md-option>
        <md-option>Tài xế 2</md-option>
      </md-select>
      <sebm-google-map [latitude]="currentLat" [longitude]="currentLng" [zoom]="15">
        <sebm-google-map-polyline [strokeWeight]="'10'" [strokeColor]="'#B71C1C'">
          <sebm-google-map-polyline-point *ngFor="let geolocationCurrent of geolocationCurrents|async" [latitude]="geolocationCurrent.lat"
            [longitude]="geolocationCurrent.lng">
          </sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
      </sebm-google-map>
    </md-card-content>
  </md-card>