<br>
<br>
<br>
<br>
<div class="row justify-content-center">
  <div class="col-md-8 offset-md-4">
    <md-card class="example-card">
      <md-card-content>
        <h4>
          <md-icon>person</md-icon> Đăng nhập</h4>
        <hr>
        <span style="color:#B71C1C">{{loginInfo}}</span>
        <hr>
        <div style="text-align: center">
          <md-input-container color="accent" class="full-width-input">
            <input mdInput [(ngModel)]="email" placeholder="Tên đăng nhập">
          </md-input-container><br>
          <br>
          <md-input-container color="accent" class="full-width-input">
            <input mdInput [(ngModel)]="password" type="password" placeholder="Mật khẩu">
          </md-input-container>
        </div>
      </md-card-content>
      <md-card-actions class="offset-md-1">
        <div style="text-align: center">
          <!--<a class="full-width-input" (click)="login()" md-raised-button routerLink="/dashboard/maps">Đăng nhập</a>-->
          <a color="accent" (click)=login() class="full-width-input" md-raised-button>Đăng nhập</a>
        </div>
      </md-card-actions>
    </md-card>
  </div>
</div>