<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-4">
      <md-card class="example-card">
        <h3>Đăng nhập</h3>
        <hr>
        <md-card-content>
          <md-input-container>
            <input mdInput placeholder="Username">
          </md-input-container>
          <md-input-container>
            <input mdInput placeholder="Password">
          </md-input-container>
        </md-card-content>
        <md-card-actions>
          <a md-raised-button routerLink="/dashboard/">Login</a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>