<div class="container">
  <div class="row">
    <md-card class="example-card">
      <md-card-header>
        <md-card-title>
          <h1>Login</h1>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="Username">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Password">
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <a md-raised-button routerLink="/dashboard/">Login</a>
      </md-card-actions>
    </md-card>
  </div>
</div>