<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>
        <md-list style="border: 1px solid #CCCCCC; border-radius: 5px;" md-scroll-y>
          <h4 align="center" md-header><strong>Danh sách tài xế</strong></h4>
          <md-divider></md-divider>
          <md-nav-list style="overflow-y: scroll; overflow-x: hidden;">
            <md-list-item (click)=changeDriver(driver) *ngFor="let driver of driverList">
              <div class="col-md-10 col-sm-9">
                <h6 md-line><strong> {{driver.name}}</strong></h6>
                <p md-line>Trạng thái 1 </p>
              </div>
              <div class="col-md-2 col-sm-3">
              </div>
            </md-list-item>
          </md-nav-list>
          <md-divider></md-divider>
        </md-list>
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <md-list style="border: 1px solid #CCCCCC; border-radius: 5px; " md-scroll-y>
          <h4 align="center" md-header><strong>Thời gian</strong></h4>
          <md-divider></md-divider>
          <md-nav-list style="overflow-y: scroll; overflow-x: hidden;">
            <md-list-item (click)=changeDate(date) *ngFor="let date of dateList">
              <div class="col-md-10 col-sm-9">
                <h6 md-line><strong> {{date.$key|date }}</strong></h6>
                <p md-line>{{ date.$key | date:'shortTime' }} </p>
              </div>
              <div class="col-md-2 col-sm-3">
              </div>
            </md-list-item>
          </md-nav-list>
          <md-divider></md-divider>
        </md-list>
      </div>
    </div>
    <div class="col-md-6">
      <h5 ([ngModel])="driverName">Tài xế: {{driverName}}</h5>
      <sebm-google-map [latitude]="currentLat" [longitude]="currentLng" [zoom]="19">
        <sebm-google-map-polyline [strokeWeight]="'10'" [strokeColor]="'#B71C1C'">
          <sebm-google-map-polyline-point *ngFor="let geolocationCurrent of geolocationCurrents" [latitude]="geolocationCurrent.lat"
            [longitude]="geolocationCurrent.lng">
          </sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
      </sebm-google-map>
    </div>
  </div>
</div>