<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div>
        <md-list style="border: 1px solid #CCCCCC; border-radius: 5px;" md-scroll-y>
          <h4 align="center" md-header><strong>Danh sách tài xế</strong></h4>
          <md-divider></md-divider>
          <md-nav-list style="overflow-y: scroll; overflow-x: hidden;">
            <md-list-item (click)=changeDriver(driver) *ngFor="let driver of driverList">
              <div class="col-md-10 col-sm-9">
                <h6 md-line><strong> {{driver.name}}</strong></h6>
                <p md-line>Trạng thái 1 </p>
              </div>
              <div class="col-md-2 col-sm-3">

              </div>
            </md-list-item>
          </md-nav-list>
          <md-divider></md-divider>
        </md-list>
      </div>
    </div>
    <div class="col-md-8">
      <md-input-container>
        <input mdInput [mdDatepicker]="picker" placeholder="Chọn ngày..">
      </md-input-container>
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
      <md-datepicker #picker></md-datepicker>
      <md-select style="padding-left:5em" placeholder="Tài xế" [(ngModel)]="selectedValue" name="food">
        <md-option>
          Tài xế 1
        </md-option>
        <md-option>
          Tài xế 2
        </md-option>
        <md-option>
          Tài xế 3
        </md-option>
      </md-select>
      <div class="row">
        <div class="col-md-12">
          <app-map></app-map>
        </div>
      </div>
    </div>
  </div>