<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h3>
        <md-icon>directions_car</md-icon><strong> Danh sách tài xế</strong></h3>
    </div>
    <br>
    <hr>
    <div class="col-md-4 justify-content-right">
      <button (click)="openDialog()" color="accent" md-raised-button>
            <md-icon md-font-set="material-icons">add_box</md-icon><span> Thêm tài xế</span>
          </button>
    </div>
  </div>
  <br/>
</div>
<div>
  <div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
      <ngx-datatable [rows]="rows" [columns]="columns" class="material" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'">
        <ngx-datatable-column name="STT" prop="ordernum" [flexGrow]="1">
          <ng-template let-value="value" let-column="name" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Họ và tên" prop="name" [flexGrow]="2">
          <ng-template let-row="rows" let-column="name" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Ngày sinh" prop="dob" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Trạng thái" [flexGrow]="1">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <md-slide-toggle>Off</md-slide-toggle>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Thao tác" [flexGrow]="3">
          <ng-template let-row="rows" let-value="value" ngx-datatable-cell-template>
            <div class="row">
              <button color="accent" md-raised-button>
                  <md-icon md-font-set="material-icons">mode_edit</md-icon><span></span>
                </button>
              <button (click)="delete()" color="warn" md-raised-button>
                  <md-icon  md-font-set="material-icons">delete</md-icon><span></span>
                </button>
              <button color="primary" md-raised-button>
                  <md-icon md-font-set="material-icons">chat_bubble</md-icon><span></span>
                </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>