<h2 md-dialog-title>Thêm tài xế</h2>
<hr>
<div md-dialog-content>
  <div class="col-md-12">
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input type="text" name="name" ([ngModel])="driverObject.name" (change)="changeDriverName($event)" mdInput placeholder="Họ tên">
      </md-input-container>
      <md-input-container color="accent">
        <input type="number" ([ngModel])="driverObject.age" (change)="changeDriverAge($event)" mdInput placeholder="Tuổi">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input mdInput placeholder="Tên xe">
      </md-input-container>
      <md-input-container color="accent">
        <input mdInput (change)="changeDriverLisenceNumber($event)" placeholder="Biển số">
      </md-input-container>
    </div>
    <div class="row align-items-center">
      <md-input-container color="accent">
        <input mdInput type="date" (change)="changeDriverDateofBirth($event)" placeholder="Ngày sinh">
      </md-input-container>
    </div>
  </div>
</div>
<div class="row align-items-center" md-dialog-actions>
  <button color="primary" md-raised-button (click)=addDriver()><md-icon  md-font-set="material-icons">done</md-icon> <strong>Thêm</strong></button>
  <button md-raised-button (click)="close()"><md-icon  md-font-set="material-icons">close</md-icon><strong> Hủy bỏ</strong></button>
</div>
<hr>