<md-toolbar color="primary">
  <button md-icon-button (click)="start.open()">
      <md-icon md-font-set="material-icons">menu</md-icon>
    </button> Giám sát hành trình
</md-toolbar>
<md-sidenav-container>
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item><span><md-icon>directions</md-icon>&emsp;&emsp;<strong>Location Tracking</strong></span></a>

      <hr/>
      <a md-list-item>
        <span><md-icon>home</md-icon>&emsp;&emsp;Trang chủ</span>
      </a>
      <a md-list-item>
        <span><md-icon>directions_car</md-icon>&emsp;&emsp;Tài xế</span>
      </a>
      <a md-list-item>
        <span><md-icon>help</md-icon>&emsp;&emsp;About</span>
      </a>
      <hr/>
      <a md-list-item (click)="start.close()"><span><md-icon>close</md-icon>&emsp;&emsp;Close</span></a>
    </md-nav-list>
    <hr>
  </md-sidenav>

  <md-card class="example-card">
    <md-card-header>
      <h2>Lộ trình</h2>
    </md-card-header>
    <md-card-content>
      <md-select placeholder="Danh sách xe">
        <md-option>Tài xế 1</md-option>
        <md-option>Tài xế 2</md-option>
      </md-select>
      <sebm-google-map [latitude]="currentLat" [longitude]="currentLng" [zoom]="15">
        <sebm-google-map-polyline [strokeWeight]="'10'" [strokeColor]="'#B71C1C'">
          <sebm-google-map-polyline-point *ngFor="let geolocationCurrent of geolocationCurrents|async" [latitude]="geolocationCurrent.lat"
            [longitude]="geolocationCurrent.lng">
          </sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
      </sebm-google-map>
    </md-card-content>
  </md-card>
</md-sidenav-container>






<!--<h1>
  <ul>
    <li *ngFor="let geolocationCurrent of geolocationCurrents|async">
      {{geolocationCurrent.lat}}: {{geolocationCurrent.lng}}
    </li>
  </ul>

</h1>-->
<!--<md-card class="example-card">
  <md-card-header>
    <md-card-title>
      <h1 md-subheader>Locations</h1>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let geolocationCurrent of geolocationCurrents|async">
        <h4 md-line>{{geolocationCurrent.lat}}: {{geolocationCurrent.lng}}</h4>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>-->